.cars {
  .search-container {
    width: 75%;
    margin: 20px auto;
    height: 30px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    .search-input {
      flex: 1;
      border: none;
      font-size: 15px;
    }
    .search-button {
      width: 40px;
      background: transparent;
      border: none;
      border-left: 2px solid black;
      outline: none;
    }
  }
  .cars-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    .car-container {
      width: 29%;
      border-right: 2px solid black;
      padding: 2.5%;
      &:nth-child(3) {
        border-right: none;
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-bottom: 2px solid black;
      }
      &:nth-child(1) {
        padding: 0 2.5% 2.5% 0;
      }
      &:nth-child(2) {
        padding-top: 0;
      }
      &:nth-child(3) {
        padding: 0 0 2.5% 2.5%;
      }
      &:nth-child(4) {
        padding: 2.5% 2.5% 0 0;
      }
      &:nth-child(5) {
        padding-bottom: 0;
      }
    }
    .car-item {
      border: 2px solid black;
      height: 10vw;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transform-style: preserve-3d;
      transition: all 1s ease-in-out;
      &:hover {
        transform: rotateX(180deg);
      }
      .front {
        backface-visibility: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .black-mask {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .back {
        transform: rotateX(180deg);
        font-weight: bold;
        .description {
          text-transform: uppercase;
          display: flex;
          justify-content: flex-end;
          color: #fff;
          font-family: sans-serif;
          span {
            width: 90%;
          }
        }
        .speed {
          color: yellow;
          font-family: sans-serif;
        }
      }
      .check {
        position: absolute;;
        width: 100%;
        height: 100%;
      }
      .title {
        padding: 2px 5px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .road {
    height: 300px;
    width: 1000px;
    border: 2px solid black;
    margin: 30px auto;
    border-radius: 20px;
    position: relative;
    .line {
      width: 100%;
      height: 100px;
      border-bottom: 2px solid black;
      &:nth-child(3) {
        border-bottom: none;
      }
    }
    #car1 {
      height: 80px;
      width: 80px;
      top: 10px;
      position: absolute;
      border: 2px solid black;
      border-radius: 20px;
      left: 10px;
    }
    #car2 {
      height: 80px;
      width: 80px;
      top: 110px;
      position: absolute;
      border: 2px solid black;
      border-radius: 20px;
      left: 10px;
    }
    #car3 {
      height: 80px;
      width: 80px;
      top: 210px;
      position: absolute;
      border: 2px solid black;
      border-radius: 20px;
      left: 10px;
    }
  }
}

