<div class="cars">
  <div class="search-container">
    <input [(ngModel)]="searchText" class="search-input" type="text"/>
    <button class="search-button"><i class="fa fa-search"></i></button>
  </div>
  <div class="cars-container">
    <div *ngFor="let item of cars | filter : searchText" class="car-container">
      <div
        class="car-item">
        <div
          [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
          class="front">
          <div class="title">{{item.name}}</div>
        </div>
        <div
          [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
          class="front back">
          <div class="black-mask">
            <input [(ngModel)]=item.isChecked (change)="addCarToList(item)" class="check" type="checkbox"/>
            <div class="description">
              <span>{{item.description}}</span>
            </div>
            <div class="speed">Max speed: {{item.speed}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="road">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="car"
         *ngFor=" let car of carsOnTrack let ind = index"
         [ngStyle]=carPosition(car,ind)
    >
      {{car.name}}
    </div>
    <div class="road-parts">
      <div class="road-part"
           *ngFor=" let item of getRoadParts(roadParts) let i = index"
      >
        <div>{{5*(i+1)}}</div>
      </div>
    </div>
    <div class="speed-limit"
         *ngFor="let sign of speedLimits"
         [ngStyle]="signPosition(sign)"
    >
      <div class="limit-line"></div>
      <div class="limit-sign">{{sign.speed}}</div>
    </div>
    <div class="speed-limit"
         [ngStyle]="trafficLightPosition()"
    >
      <div class="limit-line"></div>
      <div class="traffic-light">
        <div *ngIf="passTheLight" class="light red"></div>
        <div *ngIf="!passTheLight" class="light green"></div>
      </div>
    </div>

  </div>
</div>



