<div class="cars">
  <div class="search-container">
    <input [(ngModel)]="searchText" class="search-input" type="text"/>
    <button class="search-button"><i class="fa fa-search"></i></button>
  </div>
  <div class="cars-container">
    <div *ngFor="let item of cars | filter : searchText" class="car-container">
      <div
        class="car-item">
        <div
          [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
          class="front">
          <div class="title">{{item.name}}</div>
        </div>
        <div
          [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
          class="front back">
          <div class="black-mask">
            <input class="check" type="checkbox"/>
            <div class="description">
              <span>{{item.description}}</span>
            </div>
            <div class="speed">Max speed: {{item.speed}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="road">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div id="car1"></div>
    <div id="car2"></div>
    <div id="car3"></div>
  </div>
</div>



